In [1]:
# SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import os
from pyspark.sql.functions import *
from delta import configure_spark_with_delta_pip
from delta.tables import DeltaTable

spark = SparkSession.builder \
    .appName("lakehouse") \
    .master("spark://spark-master:7077") \
    .config("spark.delta.columnMapping.mode", "name") \
    .config("spark.sql.catalogImplementation","hive") \
    .config("spark.sql.warehouse.dir","s3a://hive/") \
    .config("spark.sql.hive.metastore.version","3.1.3") \
    .config("spark.sql.hive.metastore.jars","path") \
    .config("spark.sql.hive.metastore.jars.path","file:///opt/spark/hive/jars/*") \
    .config("spark.sql.legacy.charVarcharAsString", True) \
    .config("spark.sql.sources.partitionOverwriteMode", "dynamic") \
    .config("hive.metastore.warehouse.dir","s3a://hive/") \
    .config("spark.hive.metastore.schema.verification","false") \
    .config("hive.exec.dynamic.partition", "true") \
    .config("hive.exec.dynamic.partition.mode", "nonstrict") \
    .enableHiveSupport() \
    .getOrCreate()

# Minimierung des LOGS
spark.sparkContext.setLogLevel("ERROR")
log4jLogger = spark._jvm.org.apache.log4j
logger = log4jLogger.LogManager.getLogger("LOGGER")
logger.setLevel(log4jLogger.Level.INFO)

Warning: Ignoring non-Spark config property: hive.exec.dynamic.partition.mode
Warning: Ignoring non-Spark config property: hive.metastore.warehouse.dir
Warning: Ignoring non-Spark config property: hive.exec.dynamic.partition

:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9d370e67-3fbc-499d-b6b4-63abc7e99ca4;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.3.0 in central
	found io.delta#delta-storage;3.3.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
downloading https://repo1.maven.org/maven2/io/delta/delta-spark_2.12/3.3.0/delta-spark_2.12-3.3.0.jar ...
	[SUCCESSFUL ] io.delta#delta-spark_2.12;3.3.0!delta-spark_2.12.jar (322ms)
downloading https://repo1.maven.org/maven2/io/delta/delta-storage/3.3.0/delta-storage-3.3.0.jar ...
	[SUCCESSFUL ] io.delta#delta-storage;3.3.0!delta-storage.jar (62ms)
downloading https://repo1.maven.org/maven2/org/antlr/antlr4-runtime/4.9.3/antlr4-runtime-4.9.3.jar ...
	[SUCCESSFUL ] org.antlr#antlr4-runtime;4.9.3!antlr4-runtime.jar (44ms)
:: resolution report :: resolve 1359ms :: artifacts dl 432ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.3.0 from central in [default]
	io.delta#delta-storage;3.3.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   3   |   3   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9d370e67-3fbc-499d-b6b4-63abc7e99ca4
	confs: [default]
	3 artifacts copied, 0 already retrieved (7313kB/14ms)
25/02/22 17:20:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# Datenaufnahme
directory = "data/"
ignore_file = ".DS_Store"

# Liste, um die Namen zu sammeln
names = []

# For-Loop, um durch den Verzeichnisinhalt zu iterieren und nur die Namen zu erfassen
for entry in os.scandir(directory):
    # Ignoriere die Datei ".DS_Store"
    if entry.name == ignore_file:
        continue
    # Überprüfen, ob der Dateiname mit ".db" endet
    if entry.name.endswith(".db"):
        # Endung entfernen
        name_without_extension = os.path.splitext(entry.name)[0]
        names.append((name_without_extension,))
    else:
        # Anderenfalls den Originalnamen verwenden
        names.append((entry.name,))

df_file_list = spark.createDataFrame(names, ["name"])

for row in df_file_list.collect():
    DB_NAME = row["name"]
    spark.sql(f"CREATE DATABASE IF NOT EXISTS {DB_NAME}")
    spark.sql(f'USE {DB_NAME}')

    # Verwende einen relativen Pfad und konvertiere in einen absoluten Pfad:
    relative_path = f"data/{DB_NAME}.db"
    absolute_path = os.path.abspath(relative_path)
    jdbc_url = f"jdbc:sqlite:{absolute_path}"

    table_names = [row["name"] for row in df_tables.collect()]
    #print(f"{DB_NAME} Started!")
    for TABLE_NAME in table_names:
        #print(f"{TABLE_NAME} Started!")
        df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", TABLE_NAME).option("driver", "org.sqlite.JDBC").load()
        spark.sql(f"DROP DATABASE IF EXISTS {TABLE_NAME} cascade") # Löscht den MetaStore Eintrag
        df.write.format("delta").mode("overwrite").option("path", f's3a://bronze/fidus/{DB_NAME}/{TABLE_NAME}/').saveAsTable(TABLE_NAME)
        #print(f"{TABLE_NAME} Done!")

    print(f"{DB_NAME} SUCCESS!")
print("ALL DONE!")

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '.'.(line 1, pos 30)

== SQL ==
CREATE DATABASE IF NOT EXISTS ._.DS_Store
------------------------------^^^

In [4]:
# Join der Datenbanken

# Liste der Datenbanken
databases = [
    "fidus_and",
    "fidus_hbs",
    "fidus_hrs",
    "fidus_mhw",
    "fidus_oaf",
    "fidus_sub",
    "fidus_sue",
    "fidus_wrw"
]

# Liste der Tabellennamen
tables = [
    "behdatei",
    "praxarzt",
    "patdat",
    "adrver",
    "begrun",
    "arbehdat",
    "rechkopf",
    "rechpos",
    "ekktexte",
    "ckeytabs",
    "patinfo"
]

# Wir bauen die temporäre View "joined_view" schrittweise auf.
joined_view = None

# Verschachtelte Schleife: Für jede Datenbank und jede Tabelle
for db in databases:
    for tbl in tables:
        full_table_name = f"{db}.{tbl}"
        print(f"Verarbeite Tabelle: {full_table_name}")

        try:
            if joined_view is None:
                # Initialen Start: Lege die erste Tabelle als temporäre View ab
                spark.sql(f"""
                    CREATE OR REPLACE TEMP VIEW joined_view AS
                    SELECT *
                    FROM {full_table_name}
                """)
                joined_view = "joined_view"
            else:
                spark.sql(f"""
                    CREATE OR REPLACE TEMP VIEW joined_view AS
                    SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN {full_table_name} t2
                    ON t1.id = t2.bsnr
                """)
        except Exception as e:
            print(f"Fehler beim Laden/Joinen von {full_table_name}: {e}")

# Finale Abfrage aus der temporären View, die alle Spalten enthalten sollte
df_final = spark.sql("SELECT * FROM joined_view")

Verarbeite Tabelle: fidus_and.behdatei

Hive Session ID = d4fa367a-f18b-4392-8a36-cd3dc9dda52f

Verarbeite Tabelle: fidus_and.praxarzt
Fehler beim Laden/Joinen von fidus_and.praxarzt: [RECURSIVE_VIEW] Recursive view `joined_view` detected (cycle: `joined_view` -> `joined_view`).
Verarbeite Tabelle: fidus_and.patdat
Fehler beim Laden/Joinen von fidus_and.patdat: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t2`.`bsnr` cannot be resolved. Did you mean one of the following? [`t2`.`kasnr`, `t2`.`stra`, `t2`.`akm`, `t2`.`dmp`, `t2`.`egk`].; line 6 pos 31;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_and.patdat t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, (id#214 = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [kspatnr#182,ksnam#183,ksgebdat#184,ksbehdat#185,kslz1#186,kslz2#187,kslz3#188,kslz4#189,kslz5#190,kslz6#191,kslz7#192,kslz8#193,kslz9#194,kslz10#195,kskas#196,ksgs#197,ksver#198,kasnr#199,kasgor#200,scheinart#201,behart#202,kvklesdatu#203,kvkgueltig#204,regkas#205,versichnr#206,iknr#207,verst#208,verste#209,ktgr#210,abrart#211,abrgebiet#212,kvkl_zulnr#213,id#214,scheinid#215,praxis#216,arzt#217,abrkennz#218,abrjjq#219,uhrzeit#220,wop#221,egk#222,personengr#223,dmp#224,vschutzvon#225,kartekas#226])
      :        +- Project [cast(kspatnr#227 as double) AS kspatnr#182, cast(ksnam#228 as string) AS ksnam#183, cast(ksgebdat#229 as string) AS ksgebdat#184, cast(ksbehdat#230 as string) AS ksbehdat#185, cast(kslz1#231 as string) AS kslz1#186, cast(kslz2#232 as string) AS kslz2#187, cast(kslz3#233 as string) AS kslz3#188, cast(kslz4#234 as string) AS kslz4#189, cast(kslz5#235 as string) AS kslz5#190, cast(kslz6#236 as string) AS kslz6#191, cast(kslz7#237 as string) AS kslz7#192, cast(kslz8#238 as string) AS kslz8#193, cast(kslz9#239 as string) AS kslz9#194, cast(kslz10#240 as string) AS kslz10#195, cast(kskas#241 as string) AS kskas#196, cast(ksgs#242 as int) AS ksgs#197, cast(ksver#243 as string) AS ksver#198, cast(kasnr#244 as double) AS kasnr#199, cast(kasgor#245 as string) AS kasgor#200, cast(scheinart#246 as string) AS scheinart#201, cast(behart#247 as double) AS behart#202, cast(kvklesdatu#248 as string) AS kvklesdatu#203, cast(kvkgueltig#249 as string) AS kvkgueltig#204, cast(regkas#250 as string) AS regkas#205, ... 21 more fields]
      :           +- Project [kspatnr#227, ksnam#228, ksgebdat#229, ksbehdat#230, kslz1#231, kslz2#232, kslz3#233, kslz4#234, kslz5#235, kslz6#236, kslz7#237, kslz8#238, kslz9#239, kslz10#240, kskas#241, ksgs#242, ksver#243, kasnr#244, kasgor#245, scheinart#246, behart#247, kvklesdatu#248, kvkgueltig#249, regkas#250, ... 21 more fields]
      :              +- SubqueryAlias spark_catalog.fidus_and.behdatei
      :                 +- Relation spark_catalog.fidus_and.behdatei[kspatnr#227,ksnam#228,ksgebdat#229,ksbehdat#230,kslz1#231,kslz2#232,kslz3#233,kslz4#234,kslz5#235,kslz6#236,kslz7#237,kslz8#238,kslz9#239,kslz10#240,kskas#241,ksgs#242,ksver#243,kasnr#244,kasgor#245,scheinart#246,behart#247,kvklesdatu#248,kvkgueltig#249,regkas#250,... 21 more fields] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_and.patdat
            +- Relation spark_catalog.fidus_and.patdat[patnr#273,titel#274,name#275,vname#276,ges#277,geb#278,stra#279,lkz#280,plz#281,ort#282,remnr#283,vernr#284,ledat#285,arbeit#286,arbplz#287,arbort#288,verst#289,verste#290,kas#291,kasort#292,kasnr#293,kasgor#294,kvkgueltig#295,kvklesdatu#296,... 34 more fields] parquet

Verarbeite Tabelle: fidus_and.adrver
Fehler beim Laden/Joinen von fidus_and.adrver: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t2`.`bsnr` cannot be resolved. Did you mean one of the following? [`t2`.`adrbsnr`, `t2`.`adrnr`, `t1`.`id`, `t1`.`iknr`, `t1`.`kasnr`].; line 6 pos 31;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_and.adrver t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, (id#364 = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [kspatnr#332,ksnam#333,ksgebdat#334,ksbehdat#335,kslz1#336,kslz2#337,kslz3#338,kslz4#339,kslz5#340,kslz6#341,kslz7#342,kslz8#343,kslz9#344,kslz10#345,kskas#346,ksgs#347,ksver#348,kasnr#349,kasgor#350,scheinart#351,behart#352,kvklesdatu#353,kvkgueltig#354,regkas#355,versichnr#356,iknr#357,verst#358,verste#359,ktgr#360,abrart#361,abrgebiet#362,kvkl_zulnr#363,id#364,scheinid#365,praxis#366,arzt#367,abrkennz#368,abrjjq#369,uhrzeit#370,wop#371,egk#372,personengr#373,dmp#374,vschutzvon#375,kartekas#376])
      :        +- Project [cast(kspatnr#377 as double) AS kspatnr#332, cast(ksnam#378 as string) AS ksnam#333, cast(ksgebdat#379 as string) AS ksgebdat#334, cast(ksbehdat#380 as string) AS ksbehdat#335, cast(kslz1#381 as string) AS kslz1#336, cast(kslz2#382 as string) AS kslz2#337, cast(kslz3#383 as string) AS kslz3#338, cast(kslz4#384 as string) AS kslz4#339, cast(kslz5#385 as string) AS kslz5#340, cast(kslz6#386 as string) AS kslz6#341, cast(kslz7#387 as string) AS kslz7#342, cast(kslz8#388 as string) AS kslz8#343, cast(kslz9#389 as string) AS kslz9#344, cast(kslz10#390 as string) AS kslz10#345, cast(kskas#391 as string) AS kskas#346, cast(ksgs#392 as int) AS ksgs#347, cast(ksver#393 as string) AS ksver#348, cast(kasnr#394 as double) AS kasnr#349, cast(kasgor#395 as string) AS kasgor#350, cast(scheinart#396 as string) AS scheinart#351, cast(behart#397 as double) AS behart#352, cast(kvklesdatu#398 as string) AS kvklesdatu#353, cast(kvkgueltig#399 as string) AS kvkgueltig#354, cast(regkas#400 as string) AS regkas#355, ... 21 more fields]
      :           +- Project [kspatnr#377, ksnam#378, ksgebdat#379, ksbehdat#380, kslz1#381, kslz2#382, kslz3#383, kslz4#384, kslz5#385, kslz6#386, kslz7#387, kslz8#388, kslz9#389, kslz10#390, kskas#391, ksgs#392, ksver#393, kasnr#394, kasgor#395, scheinart#396, behart#397, kvklesdatu#398, kvkgueltig#399, regkas#400, ... 21 more fields]
      :              +- SubqueryAlias spark_catalog.fidus_and.behdatei
      :                 +- Relation spark_catalog.fidus_and.behdatei[kspatnr#377,ksnam#378,ksgebdat#379,ksbehdat#380,kslz1#381,kslz2#382,kslz3#383,kslz4#384,kslz5#385,kslz6#386,kslz7#387,kslz8#388,kslz9#389,kslz10#390,kskas#391,ksgs#392,ksver#393,kasnr#394,kasgor#395,scheinart#396,behart#397,kvklesdatu#398,kvkgueltig#399,regkas#400,... 21 more fields] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_and.adrver
            +- Relation spark_catalog.fidus_and.adrver[adrnr#423,adrtit#424,adrnam#425,adrvor#426,adrges#427,adrbez#428,adrstr#429,adrlkz#430,adrplz#431,adrort#432,adrtel#433,adrfax#434,adranr#435,adrna2#436,adrgs2#437,adrmerkmal#438,adrbsnr#439,adrlanr#440,email#441] parquet

Verarbeite Tabelle: fidus_and.begrun
Fehler beim Laden/Joinen von fidus_and.begrun: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t2`.`bsnr` cannot be resolved. Did you mean one of the following? [`t2`.`beg`, `t2`.`blen`, `t2`.`id`, `t2`.`kasnr`, `t1`.`id`].; line 6 pos 31;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_and.begrun t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, (id#475 = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [kspatnr#443,ksnam#444,ksgebdat#445,ksbehdat#446,kslz1#447,kslz2#448,kslz3#449,kslz4#450,kslz5#451,kslz6#452,kslz7#453,kslz8#454,kslz9#455,kslz10#456,kskas#457,ksgs#458,ksver#459,kasnr#460,kasgor#461,scheinart#462,behart#463,kvklesdatu#464,kvkgueltig#465,regkas#466,versichnr#467,iknr#468,verst#469,verste#470,ktgr#471,abrart#472,abrgebiet#473,kvkl_zulnr#474,id#475,scheinid#476,praxis#477,arzt#478,abrkennz#479,abrjjq#480,uhrzeit#481,wop#482,egk#483,personengr#484,dmp#485,vschutzvon#486,kartekas#487])
      :        +- Project [cast(kspatnr#488 as double) AS kspatnr#443, cast(ksnam#489 as string) AS ksnam#444, cast(ksgebdat#490 as string) AS ksgebdat#445, cast(ksbehdat#491 as string) AS ksbehdat#446, cast(kslz1#492 as string) AS kslz1#447, cast(kslz2#493 as string) AS kslz2#448, cast(kslz3#494 as string) AS kslz3#449, cast(kslz4#495 as string) AS kslz4#450, cast(kslz5#496 as string) AS kslz5#451, cast(kslz6#497 as string) AS kslz6#452, cast(kslz7#498 as string) AS kslz7#453, cast(kslz8#499 as string) AS kslz8#454, cast(kslz9#500 as string) AS kslz9#455, cast(kslz10#501 as string) AS kslz10#456, cast(kskas#502 as string) AS kskas#457, cast(ksgs#503 as int) AS ksgs#458, cast(ksver#504 as string) AS ksver#459, cast(kasnr#505 as double) AS kasnr#460, cast(kasgor#506 as string) AS kasgor#461, cast(scheinart#507 as string) AS scheinart#462, cast(behart#508 as double) AS behart#463, cast(kvklesdatu#509 as string) AS kvklesdatu#464, cast(kvkgueltig#510 as string) AS kvkgueltig#465, cast(regkas#511 as string) AS regkas#466, ... 21 more fields]
      :           +- Project [kspatnr#488, ksnam#489, ksgebdat#490, ksbehdat#491, kslz1#492, kslz2#493, kslz3#494, kslz4#495, kslz5#496, kslz6#497, kslz7#498, kslz8#499, kslz9#500, kslz10#501, kskas#502, ksgs#503, ksver#504, kasnr#505, kasgor#506, scheinart#507, behart#508, kvklesdatu#509, kvkgueltig#510, regkas#511, ... 21 more fields]
      :              +- SubqueryAlias spark_catalog.fidus_and.behdatei
      :                 +- Relation spark_catalog.fidus_and.behdatei[kspatnr#488,ksnam#489,ksgebdat#490,ksbehdat#491,kslz1#492,kslz2#493,kslz3#494,kslz4#495,kslz5#496,kslz6#497,kslz7#498,kslz8#499,kslz9#500,kslz10#501,kskas#502,ksgs#503,ksver#504,kasnr#505,kasgor#506,scheinart#507,behart#508,kvklesdatu#509,kvkgueltig#510,regkas#511,... 21 more fields] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_and.begrun
            +- Relation spark_catalog.fidus_and.begrun[kspatnr#534,kasnr#535,jjq#536,scheinart#537,begruendg1#538,beg#539,blen#540,id#541,suntergr#542,abrechnung#543,abrdatum#544] parquet

Verarbeite Tabelle: fidus_and.arbehdat
Fehler beim Laden/Joinen von fidus_and.arbehdat: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t2`.`bsnr` cannot be resolved. Did you mean one of the following? [`t2`.`id`, `t2`.`iknr`, `t2`.`kasnr`, `t2`.`dmp`, `t2`.`egk`].; line 6 pos 31;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_and.arbehdat t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, (id#578 = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [kspatnr#546,ksnam#547,ksgebdat#548,ksbehdat#549,kslz1#550,kslz2#551,kslz3#552,kslz4#553,kslz5#554,kslz6#555,kslz7#556,kslz8#557,kslz9#558,kslz10#559,kskas#560,ksgs#561,ksver#562,kasnr#563,kasgor#564,scheinart#565,behart#566,kvklesdatu#567,kvkgueltig#568,regkas#569,versichnr#570,iknr#571,verst#572,verste#573,ktgr#574,abrart#575,abrgebiet#576,kvkl_zulnr#577,id#578,scheinid#579,praxis#580,arzt#581,abrkennz#582,abrjjq#583,uhrzeit#584,wop#585,egk#586,personengr#587,dmp#588,vschutzvon#589,kartekas#590])
      :        +- Project [cast(kspatnr#591 as double) AS kspatnr#546, cast(ksnam#592 as string) AS ksnam#547, cast(ksgebdat#593 as string) AS ksgebdat#548, cast(ksbehdat#594 as string) AS ksbehdat#549, cast(kslz1#595 as string) AS kslz1#550, cast(kslz2#596 as string) AS kslz2#551, cast(kslz3#597 as string) AS kslz3#552, cast(kslz4#598 as string) AS kslz4#553, cast(kslz5#599 as string) AS kslz5#554, cast(kslz6#600 as string) AS kslz6#555, cast(kslz7#601 as string) AS kslz7#556, cast(kslz8#602 as string) AS kslz8#557, cast(kslz9#603 as string) AS kslz9#558, cast(kslz10#604 as string) AS kslz10#559, cast(kskas#605 as string) AS kskas#560, cast(ksgs#606 as int) AS ksgs#561, cast(ksver#607 as string) AS ksver#562, cast(kasnr#608 as double) AS kasnr#563, cast(kasgor#609 as string) AS kasgor#564, cast(scheinart#610 as string) AS scheinart#565, cast(behart#611 as double) AS behart#566, cast(kvklesdatu#612 as string) AS kvklesdatu#567, cast(kvkgueltig#613 as string) AS kvkgueltig#568, cast(regkas#614 as string) AS regkas#569, ... 21 more fields]
      :           +- Project [kspatnr#591, ksnam#592, ksgebdat#593, ksbehdat#594, kslz1#595, kslz2#596, kslz3#597, kslz4#598, kslz5#599, kslz6#600, kslz7#601, kslz8#602, kslz9#603, kslz10#604, kskas#605, ksgs#606, ksver#607, kasnr#608, kasgor#609, scheinart#610, behart#611, kvklesdatu#612, kvkgueltig#613, regkas#614, ... 21 more fields]
      :              +- SubqueryAlias spark_catalog.fidus_and.behdatei
      :                 +- Relation spark_catalog.fidus_and.behdatei[kspatnr#591,ksnam#592,ksgebdat#593,ksbehdat#594,kslz1#595,kslz2#596,kslz3#597,kslz4#598,kslz5#599,kslz6#600,kslz7#601,kslz8#602,kslz9#603,kslz10#604,kskas#605,ksgs#606,ksver#607,kasnr#608,kasgor#609,scheinart#610,behart#611,kvklesdatu#612,kvkgueltig#613,regkas#614,... 21 more fields] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_and.arbehdat
            +- Relation spark_catalog.fidus_and.arbehdat[kspatnr#637,ksnam#638,ksgebdat#639,ksbehdat#640,kslz1#641,kslz2#642,kslz3#643,kslz4#644,kslz5#645,kslz6#646,kslz7#647,kslz8#648,kslz9#649,kslz10#650,kskas#651,ksgs#652,ksver#653,kasnr#654,kasgor#655,scheinart#656,behart#657,kvklesdatu#658,kvkgueltig#659,regkas#660,... 22 more fields] parquet

Verarbeite Tabelle: fidus_and.rechkopf
Fehler beim Laden/Joinen von fidus_and.rechkopf: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t2`.`bsnr` cannot be resolved. Did you mean one of the following? [`t2`.`rnr`, `t1`.`id`, `t1`.`iknr`, `t2`.`kas`, `t1`.`kasnr`].; line 6 pos 31;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_and.rechkopf t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, (id#716 = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [kspatnr#684,ksnam#685,ksgebdat#686,ksbehdat#687,kslz1#688,kslz2#689,kslz3#690,kslz4#691,kslz5#692,kslz6#693,kslz7#694,kslz8#695,kslz9#696,kslz10#697,kskas#698,ksgs#699,ksver#700,kasnr#701,kasgor#702,scheinart#703,behart#704,kvklesdatu#705,kvkgueltig#706,regkas#707,versichnr#708,iknr#709,verst#710,verste#711,ktgr#712,abrart#713,abrgebiet#714,kvkl_zulnr#715,id#716,scheinid#717,praxis#718,arzt#719,abrkennz#720,abrjjq#721,uhrzeit#722,wop#723,egk#724,personengr#725,dmp#726,vschutzvon#727,kartekas#728])
      :        +- Project [cast(kspatnr#729 as double) AS kspatnr#684, cast(ksnam#730 as string) AS ksnam#685, cast(ksgebdat#731 as string) AS ksgebdat#686, cast(ksbehdat#732 as string) AS ksbehdat#687, cast(kslz1#733 as string) AS kslz1#688, cast(kslz2#734 as string) AS kslz2#689, cast(kslz3#735 as string) AS kslz3#690, cast(kslz4#736 as string) AS kslz4#691, cast(kslz5#737 as string) AS kslz5#692, cast(kslz6#738 as string) AS kslz6#693, cast(kslz7#739 as string) AS kslz7#694, cast(kslz8#740 as string) AS kslz8#695, cast(kslz9#741 as string) AS kslz9#696, cast(kslz10#742 as string) AS kslz10#697, cast(kskas#743 as string) AS kskas#698, cast(ksgs#744 as int) AS ksgs#699, cast(ksver#745 as string) AS ksver#700, cast(kasnr#746 as double) AS kasnr#701, cast(kasgor#747 as string) AS kasgor#702, cast(scheinart#748 as string) AS scheinart#703, cast(behart#749 as double) AS behart#704, cast(kvklesdatu#750 as string) AS kvklesdatu#705, cast(kvkgueltig#751 as string) AS kvkgueltig#706, cast(regkas#752 as string) AS regkas#707, ... 21 more fields]
      :           +- Project [kspatnr#729, ksnam#730, ksgebdat#731, ksbehdat#732, kslz1#733, kslz2#734, kslz3#735, kslz4#736, kslz5#737, kslz6#738, kslz7#739, kslz8#740, kslz9#741, kslz10#742, kskas#743, ksgs#744, ksver#745, kasnr#746, kasgor#747, scheinart#748, behart#749, kvklesdatu#750, kvkgueltig#751, regkas#752, ... 21 more fields]
      :              +- SubqueryAlias spark_catalog.fidus_and.behdatei
      :                 +- Relation spark_catalog.fidus_and.behdatei[kspatnr#729,ksnam#730,ksgebdat#731,ksbehdat#732,kslz1#733,kslz2#734,kslz3#735,kslz4#736,kslz5#737,kslz6#738,kslz7#739,kslz8#740,kslz9#741,kslz10#742,kskas#743,ksgs#744,ksver#745,kasnr#746,kasgor#747,scheinart#748,behart#749,kvklesdatu#750,kvkgueltig#751,regkas#752,... 21 more fields] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_and.rechkopf
            +- Relation spark_catalog.fidus_and.rechkopf[rkopfid#775,scheinid#776,patnr#777,druckmark#778,rechnempf#779,rechnstell#780,rechnart#781,rnr#782,status#783,statusdat#784,zahlziel#785,mwst#786,honminder#787,rechdat#788,diagnose#789,betreff#790,fusstext#791,guid#792,kas#793,rechbetrag#794,mwstbetrag#795,exportdat#796,verst#797,rnralt#798] parquet

Verarbeite Tabelle: fidus_and.rechpos
Fehler beim Laden/Joinen von fidus_and.rechpos: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t2`.`bsnr` cannot be resolved. Did you mean one of the following? [`t2`.`posnr`, `t1`.`id`, `t1`.`iknr`, `t1`.`kasnr`, `t2`.`mwst`].; line 6 pos 31;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_and.rechpos t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, (id#832 = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [kspatnr#800,ksnam#801,ksgebdat#802,ksbehdat#803,kslz1#804,kslz2#805,kslz3#806,kslz4#807,kslz5#808,kslz6#809,kslz7#810,kslz8#811,kslz9#812,kslz10#813,kskas#814,ksgs#815,ksver#816,kasnr#817,kasgor#818,scheinart#819,behart#820,kvklesdatu#821,kvkgueltig#822,regkas#823,versichnr#824,iknr#825,verst#826,verste#827,ktgr#828,abrart#829,abrgebiet#830,kvkl_zulnr#831,id#832,scheinid#833,praxis#834,arzt#835,abrkennz#836,abrjjq#837,uhrzeit#838,wop#839,egk#840,personengr#841,dmp#842,vschutzvon#843,kartekas#844])
      :        +- Project [cast(kspatnr#845 as double) AS kspatnr#800, cast(ksnam#846 as string) AS ksnam#801, cast(ksgebdat#847 as string) AS ksgebdat#802, cast(ksbehdat#848 as string) AS ksbehdat#803, cast(kslz1#849 as string) AS kslz1#804, cast(kslz2#850 as string) AS kslz2#805, cast(kslz3#851 as string) AS kslz3#806, cast(kslz4#852 as string) AS kslz4#807, cast(kslz5#853 as string) AS kslz5#808, cast(kslz6#854 as string) AS kslz6#809, cast(kslz7#855 as string) AS kslz7#810, cast(kslz8#856 as string) AS kslz8#811, cast(kslz9#857 as string) AS kslz9#812, cast(kslz10#858 as string) AS kslz10#813, cast(kskas#859 as string) AS kskas#814, cast(ksgs#860 as int) AS ksgs#815, cast(ksver#861 as string) AS ksver#816, cast(kasnr#862 as double) AS kasnr#817, cast(kasgor#863 as string) AS kasgor#818, cast(scheinart#864 as string) AS scheinart#819, cast(behart#865 as double) AS behart#820, cast(kvklesdatu#866 as string) AS kvklesdatu#821, cast(kvkgueltig#867 as string) AS kvkgueltig#822, cast(regkas#868 as string) AS regkas#823, ... 21 more fields]
      :           +- Project [kspatnr#845, ksnam#846, ksgebdat#847, ksbehdat#848, kslz1#849, kslz2#850, kslz3#851, kslz4#852, kslz5#853, kslz6#854, kslz7#855, kslz8#856, kslz9#857, kslz10#858, kskas#859, ksgs#860, ksver#861, kasnr#862, kasgor#863, scheinart#864, behart#865, kvklesdatu#866, kvkgueltig#867, regkas#868, ... 21 more fields]
      :              +- SubqueryAlias spark_catalog.fidus_and.behdatei

In [2]:
# Join der Datenbanken

# Liste der Datenbanken
databases = [
    "fidus_and",
    "fidus_hbs",
    "fidus_hrs",
    "fidus_mhw",
    "fidus_oaf",
    "fidus_sub",
    "fidus_sue",
    "fidus_wrw"
]

# Liste der Tabellennamen
tables = ["ekktexte"]

# Wir bauen die temporäre View "joined_view" schrittweise auf.
joined_view = None

# Verschachtelte Schleife: Für jede Datenbank und jede Tabelle
for db in databases:
    for tbl in tables:
        full_table_name = f"{db}.{tbl}"
        print(f"Verarbeite Tabelle: {full_table_name}")

        try:
            if joined_view is None:
                # Initialen Start: Lege die erste Tabelle als temporäre View ab
                spark.sql(f"""
                    CREATE OR REPLACE TEMP VIEW joined_view AS
                    SELECT *
                    FROM {full_table_name}
                """)
                joined_view = "joined_view"
            else:
                spark.sql(f"""
                    CREATE OR REPLACE TEMP VIEW joined_view AS
                    SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN {full_table_name} t2
                    ON t1.id = t2.bsnr
                """)
        except Exception as e:
            print(f"Fehler beim Laden/Joinen von {full_table_name}: {e}")

# Finale Abfrage aus der temporären View, die alle Spalten enthalten sollte
df_final = spark.sql("SELECT * FROM joined_view")

Verarbeite Tabelle: fidus_and.ekktexte

Hive Session ID = fe080bee-99c7-452a-88a0-9ab5833c8479

Verarbeite Tabelle: fidus_hbs.ekktexte
Fehler beim Laden/Joinen von fidus_hbs.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_hbs.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#6,datum#7,nr#8,fduschl#9,inhalt#10])
      :        +- Project [cast(patnr#11 as double) AS patnr#6, cast(datum#12 as string) AS datum#7, cast(nr#13 as double) AS nr#8, cast(fduschl#14 as string) AS fduschl#9, cast(inhalt#15 as string) AS inhalt#10]
      :           +- Project [patnr#11, datum#12, nr#13, fduschl#14, inhalt#15]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#11,datum#12,nr#13,fduschl#14,inhalt#15] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_hbs.ekktexte
            +- Relation spark_catalog.fidus_hbs.ekktexte[patnr#17,datum#18,nr#19,fduschl#20,inhalt#21] parquet

Verarbeite Tabelle: fidus_hrs.ekktexte
Fehler beim Laden/Joinen von fidus_hrs.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_hrs.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#23,datum#24,nr#25,fduschl#26,inhalt#27])
      :        +- Project [cast(patnr#28 as double) AS patnr#23, cast(datum#29 as string) AS datum#24, cast(nr#30 as double) AS nr#25, cast(fduschl#31 as string) AS fduschl#26, cast(inhalt#32 as string) AS inhalt#27]
      :           +- Project [patnr#28, datum#29, nr#30, fduschl#31, inhalt#32]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#28,datum#29,nr#30,fduschl#31,inhalt#32] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_hrs.ekktexte
            +- Relation spark_catalog.fidus_hrs.ekktexte[patnr#34,datum#35,nr#36,fduschl#37,inhalt#38] parquet

Verarbeite Tabelle: fidus_mhw.ekktexte
Fehler beim Laden/Joinen von fidus_mhw.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_mhw.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#40,datum#41,nr#42,fduschl#43,inhalt#44])
      :        +- Project [cast(patnr#45 as double) AS patnr#40, cast(datum#46 as string) AS datum#41, cast(nr#47 as double) AS nr#42, cast(fduschl#48 as string) AS fduschl#43, cast(inhalt#49 as string) AS inhalt#44]
      :           +- Project [patnr#45, datum#46, nr#47, fduschl#48, inhalt#49]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#45,datum#46,nr#47,fduschl#48,inhalt#49] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_mhw.ekktexte
            +- Relation spark_catalog.fidus_mhw.ekktexte[patnr#51,datum#52,nr#53,fduschl#54,inhalt#55] parquet

Verarbeite Tabelle: fidus_oaf.ekktexte
Fehler beim Laden/Joinen von fidus_oaf.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_oaf.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#57,datum#58,nr#59,fduschl#60,inhalt#61])
      :        +- Project [cast(patnr#62 as double) AS patnr#57, cast(datum#63 as string) AS datum#58, cast(nr#64 as double) AS nr#59, cast(fduschl#65 as string) AS fduschl#60, cast(inhalt#66 as string) AS inhalt#61]
      :           +- Project [patnr#62, datum#63, nr#64, fduschl#65, inhalt#66]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#62,datum#63,nr#64,fduschl#65,inhalt#66] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_oaf.ekktexte
            +- Relation spark_catalog.fidus_oaf.ekktexte[patnr#68,datum#69,nr#70,fduschl#71,inhalt#72] parquet

Verarbeite Tabelle: fidus_sub.ekktexte
Fehler beim Laden/Joinen von fidus_sub.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_sub.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#74,datum#75,nr#76,fduschl#77,inhalt#78])
      :        +- Project [cast(patnr#79 as double) AS patnr#74, cast(datum#80 as string) AS datum#75, cast(nr#81 as double) AS nr#76, cast(fduschl#82 as string) AS fduschl#77, cast(inhalt#83 as string) AS inhalt#78]
      :           +- Project [patnr#79, datum#80, nr#81, fduschl#82, inhalt#83]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#79,datum#80,nr#81,fduschl#82,inhalt#83] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_sub.ekktexte
            +- Relation spark_catalog.fidus_sub.ekktexte[patnr#85,datum#86,nr#87,fduschl#88,inhalt#89] parquet

Verarbeite Tabelle: fidus_sue.ekktexte
Fehler beim Laden/Joinen von fidus_sue.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_sue.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#91,datum#92,nr#93,fduschl#94,inhalt#95])
      :        +- Project [cast(patnr#96 as double) AS patnr#91, cast(datum#97 as string) AS datum#92, cast(nr#98 as double) AS nr#93, cast(fduschl#99 as string) AS fduschl#94, cast(inhalt#100 as string) AS inhalt#95]
      :           +- Project [patnr#96, datum#97, nr#98, fduschl#99, inhalt#100]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#96,datum#97,nr#98,fduschl#99,inhalt#100] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_sue.ekktexte
            +- Relation spark_catalog.fidus_sue.ekktexte[patnr#102,datum#103,nr#104,fduschl#105,inhalt#106] parquet

Verarbeite Tabelle: fidus_wrw.ekktexte
Fehler beim Laden/Joinen von fidus_wrw.ekktexte: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `t1`.`id` cannot be resolved. Did you mean one of the following? [`t1`.`nr`, `t2`.`nr`, `t1`.`datum`, `t2`.`datum`, `t1`.`inhalt`].; line 6 pos 23;
'CreateViewCommand `joined_view`, SELECT t1.*, t2.*
                    FROM joined_view t1
                    INNER JOIN fidus_wrw.ekktexte t2
                    ON t1.id = t2.bsnr, false, true, LocalTempView, false
+- 'Project [t1.*, t2.*]
   +- 'Join Inner, ('t1.id = 't2.bsnr)
      :- SubqueryAlias t1
      :  +- SubqueryAlias joined_view
      :     +- View (`joined_view`, [patnr#108,datum#109,nr#110,fduschl#111,inhalt#112])
      :        +- Project [cast(patnr#113 as double) AS patnr#108, cast(datum#114 as string) AS datum#109, cast(nr#115 as double) AS nr#110, cast(fduschl#116 as string) AS fduschl#111, cast(inhalt#117 as string) AS inhalt#112]
      :           +- Project [patnr#113, datum#114, nr#115, fduschl#116, inhalt#117]
      :              +- SubqueryAlias spark_catalog.fidus_and.ekktexte
      :                 +- Relation spark_catalog.fidus_and.ekktexte[patnr#113,datum#114,nr#115,fduschl#116,inhalt#117] parquet
      +- SubqueryAlias t2
         +- SubqueryAlias spark_catalog.fidus_wrw.ekktexte
            +- Relation spark_catalog.fidus_wrw.ekktexte[patnr#119,datum#120,nr#121,fduschl#122,inhalt#123] parquet

In [5]:
df_final.show(truncate=False)

+--------+--------+----------+----------+-----+-----+------+-----+-----+-----+-----+-----+-----+------+----------------------------+---------+-----+---------+------+---------+------+----------+----------+--------+---------+------------+-----+------+----+------+---------+----------+--------+--------+------+-------+--------+--------+-------+--------+--------+----------+--------+----------+---------------------+
|kspatnr |ksnam   |ksgebdat  |ksbehdat  |kslz1|kslz2|kslz3 |kslz4|kslz5|kslz6|kslz7|kslz8|kslz9|kslz10|kskas                       |ksgs     |ksver|kasnr    |kasgor|scheinart|behart|kvklesdatu|kvkgueltig|regkas  |versichnr|iknr        |verst|verste|ktgr|abrart|abrgebiet|kvkl_zulnr|id      |scheinid|praxis|arzt   |abrkennz|abrjjq  |uhrzeit|wop     |egk     |personengr|dmp     |vschutzvon|kartekas             |
+--------+--------+----------+----------+-----+-----+------+-----+-----+-----+-----+-----+-----+------+----------------------------+---------+-----+---------+------+---------+------+----------+----------+--------+---------+------------+-----+------+----+------+---------+----------+--------+--------+------+-------+--------+--------+-------+--------+--------+----------+--------+----------+---------------------+
|119597.0|Zensiert|1946-01-01|2024-07-01|06212|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| R   |7110100.0|BMÄ   |M        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |5.0  |0     |0   |1.0   |NULL     |Zensiert  |202576.0|153475.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|104999.0|Zensiert|1944-01-01|2024-07-02|0    |NULL |NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |BARMER                      |108380007| R   |7260100.0|EGO   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08380007E8|5.0  |0     |0   |2.0   |NULL     |Zensiert  |202689.0|153442.0|NULL  |ZIMA017|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |BARMER               |
|77736.0 |Zensiert|1937-01-01|2024-07-01|06212|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| R   |7110100.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |5.0  |0     |0   |1.0   |NULL     |Zensiert  |202622.0|153512.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|110142.0|Zensiert|1984-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |BARMER                      |108380007| M   |7260100.0|EGO   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08380007E8|1.0  |0     |0   |2.0   |NULL     |Zensiert  |202623.0|153513.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |BARMER               |
|109209.0|Zensiert|1981-01-01|2024-07-01|06211|06225|06333 |06333|NULL |NULL |NULL |NULL |NULL |NULL  |Kaufmännische Krankenkasse -|102171012| M   |1760300.0|EGO   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.02171012E8|1.0  |0     |0   |2.0   |NULL     |Zensiert  |202624.0|153514.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |KKH                  |
|99143.0 |Zensiert|2008-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Baden-Württemberg Hauptv|108018325| F   |6112500.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08018325E8|3.0  |0     |0   |1.0   |NULL     |Zensiert  |202625.0|153515.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Heilbronn-Franken|
|102942.0|Zensiert|2010-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Baden-Württemberg Hauptv|108018325| F   |6112500.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08018325E8|3.0  |0     |0   |1.0   |NULL     |Zensiert  |202626.0|153516.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Heilbronn-Franken|
|100975.0|Zensiert|1968-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| M   |7110100.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |1.0  |0     |0   |1.0   |NULL     |Zensiert  |202627.0|153517.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|119605.0|Zensiert|1968-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |Mobil Betriebskrankenkasse  |101520078| M   |945500.0 |BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.01520078E8|1.0  |0     |0   |1.0   |NULL     |Zensiert  |202628.0|153518.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |MOBIL KRANKENKASSE   |
|91221.0 |Zensiert|1956-01-01|2024-07-01|06212|06225|06333 |06333|NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| R   |7110100.0|BMÄ   |M        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |5.0  |0     |0   |1.0   |NULL     |Zensiert  |202629.0|153519.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|105663.0|Zensiert|2010-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Baden-Württemberg Hauptv|108018325| F   |6112500.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08018325E8|3.0  |0     |0   |1.0   |NULL     |Zensiert  |202630.0|153520.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Heilbronn-Franken|
|81007.0 |Zensiert|2008-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| F   |7110100.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |3.0  |0     |0   |1.0   |NULL     |Zensiert  |202631.0|153521.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|100797.0|Zensiert|2007-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Baden-Württemberg Hauptv|108018325| M   |6112500.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08018325E8|1.0  |0     |0   |1.0   |NULL     |Zensiert  |202636.0|153525.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Heilbronn-Franken|
|119607.0|Zensiert|1982-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| M   |7110100.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |1.0  |0     |0   |1.0   |NULL     |Zensiert  |202638.0|153527.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|119598.0|Zensiert|1960-01-01|2024-07-01|06212|06225|99873O|NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Baden-Württemberg Hauptv|108018564| R   |6112500.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08018564E8|5.0  |0     |0   |1.0   |NULL     |Zensiert  |202579.0|153478.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Ostwürttemberg   |
|117897.0|Zensiert|1950-01-01|2024-07-01|06212|06225|06336 |06337|NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| R   |7110100.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |5.0  |0     |0   |1.0   |NULL     |Zensiert  |202577.0|153476.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|98925.0 |Zensiert|1967-01-01|2024-07-01|06211|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |BKK ProVita                 |108591499| M   |6841500.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08591499E8|1.0  |0     |0   |1.0   |NULL     |Zensiert  |202578.0|153477.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |BKK ProVita          |
|119599.0|Zensiert|1938-01-01|2024-07-01|06212|06225|NULL  |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Baden-Württemberg Hauptv|108018564| R   |6112500.0|BMÄ   |M        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.08018564E8|5.0  |0     |0   |1.0   |NULL     |Zensiert  |202580.0|153479.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Ostwürttemberg   |
|73983.0 |Zensiert|1951-01-01|2024-07-01|06212|06225|06336 |06337|NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| R   |7110100.0|BMÄ   |M        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |5.0  |0     |0   |1.0   |NULL     |Zensiert  |202583.0|153481.0|NULL  |LAVA018|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
|17503.0 |Zensiert|1938-01-01|2024-07-02|06212|06336|06337 |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |AOK Bayern - Die Gesundheits|108310400| R   |7110100.0|BMÄ   |O        |NULL  |2020-01-01|Zensiert  |Zensiert|Zensiert |1.083104E8  |5.0  |0     |0   |1.0   |NULL     |Zensiert  |202657.0|153539.0|NULL  |ZIMA017|Zensiert|Zensiert|NULL   |Zensiert|Zensiert|Zensiert  |Zensiert|Zensiert  |AOK Bayern           |
+--------+--------+----------+----------+-----+-----+------+-----+-----+-----+-----+-----+-----+------+----------------------------+---------+-----+---------+------+---------+------+----------+----------+--------+---------+------------+-----+------+----+------+---------+----------+--------+--------+------+-------+--------+--------+-------+--------+--------+----------+--------+----------+---------------------+
only showing top 20 rows

In [6]:
spark.sql("CREATE DATABASE IF NOT EXISTS fidus_joined")
df_final.write.format("delta").mode("overwrite").option("path", "s3a://silver/fidus/fidus_joined").saveAsTable("fidus_joined.fidus_joined")

In [7]:
spark.sql("show databases").show()

+------------+
|   namespace|
+------------+
|     default|
|   fidus_and|
|   fidus_hbs|
|   fidus_hrs|
|fidus_joined|
|   fidus_kpi|
|   fidus_mhw|
|   fidus_oaf|
|   fidus_sub|
|   fidus_sue|
|   fidus_wrw|
+------------+